<div class="jumbotron text-center">
	<h1>Nerds and Proud</h1>

	<p>{{ tagline }}</p>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Turn#</th>
      <th>Player1</th>
      <th>Player2</th>
      <th>Player1</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th>Score</th>
      <th>total</th>
      <th>total</th>
      <th>total</th>
    </tr>
  </tfoot>
  
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>33333</td>
      <td>33333</td>
      <td>33333</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>33333</td>
      <td>33333</td>
      <td>33333</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>33333</td>
      <td>33333</td>
      <td>33333</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>33333</td>
      <td>33333</td>
      <td>33333</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>33333</td>
      <td>33333</td>
      <td>33333</td>
    </tr>
  </tbody>
</table>